* {
  background-color: #202020;
  color: #ffd100;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.Inputs button {
  margin: 10px;
  border-radius: 10px;
  height: 30px;
  background-color: #333533;
}

.Inputs p {
  font-size: x-large;
}

img {
  height: 200px;
  width: 200px;
}

.Logo {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  background-image: url('https://github.com/brnrj/team_sort/blob/feat-revamp-ui/src/images/main.png');
  width: 350px;
  height: 400px;
  border-radius: 10px;
  position: relative;
}

.Logo h4 {
  background-color: transparent;
  margin: 0;
  margin-top: 15px;
  border: 0;
  padding: 0;
  width: 220px;
  opacity: 90%;
}

.Logo img {
  background-color: transparent;
  height: 80px;
  width: 80px;
  opacity: 85%;
}

.LoL {
  color: black;
  background-color: black;
  border-radius: 10px;
}
.titulo {
  color: white;
  background-color: black;
  border-radius: 10px;
}

.Main-Team {
  display: flex;
  justify-content: center;
}

.Meme {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
}

.MemeCard img {
  border-radius: 10px;
}

.Team {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}

.red {
  background-color: #e71d36;
}

.blue {
  background-color: #2ec4b6;
}

.green {
  background-color: #ff9f1c;
}

.pink {
  background-color: orangered;
}

.test {
  color:white;
  background-color: #6e0000;
}

.displayButtonFalse {
  display : none;
}

.displayButtonTrue {
  border-radius: 10px;
  height: 50px;
}